/*
0px			- 		600px:			Phone
600px		-		900px:			Tablet Portrait
900px		-		1200px:			Tablet Landscape
1200px		-		1800px:			Desktop First Approach (is where our normal styles apply)
1800px +							Big Desktop

$breakpoint argument choices
	- phone
	- tab-port
	- tab-land
	- big-desktop

ORDER: base + typography > general layout + grid > page layout > components
*/
@keyframes moveInLeft {}
@keyframes moveInRight {}
@keyframes moveInBottom {}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 	1rem is equal to 10px */
  /* 	because 10px / 10 is equal to 1rem */
  /* 	therefore 30px is equal to 3rem */
  /* 	the default font size of the browser is 16px */
  /* 	10px / 16px *100 = 62.5% */
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 45%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  background-color: #a3ffe0;
  box-sizing: border-box;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #b4b4b4;
}

@media (max-width: 56.25em) {
  .btn {
    font-size: 1.3rem;
  }
}

.heading-primary--main {
  font-size: 2.5rem;
  text-transform: uppercase;
}
.heading-primary--sub {
  font-size: 1.25rem;
  text-transform: lowercase;
}

.gameInfo {
  color: slategray;
}
.gameInfo__playerInfo {
  font-size: 1.2rem;
}
.gameInfo__playerInfo--infoItem {
  font-size: 1.3rem;
  font-family: cursive;
  font-weight: 900;
  letter-spacing: 2px;
}
.gameInfo__gameSettings--infoItem {
  font-size: 1.2rem;
}
@media (max-width: 56.25em) {
  .gameInfo__gameSettings--infoItem {
    font-size: 1.4rem;
  }
}
.gameInfo__gameSettings .gameSettingsLabel {
  font-size: 1.2rem;
}
@media (max-width: 56.25em) {
  .gameInfo__gameSettings .gameSettingsLabel {
    font-size: 1.4rem;
  }
}
.gameInfo__requireName {
  font-size: 1rem;
}

.footer {
  color: slategray;
  font-size: 1.1rem;
}
.footer .portfolioLink {
  color: slategray;
  font-size: 1.15rem;
  font-weight: 600;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  text-decoration-color: slategray;
}
.footer .portfolioLink:hover {
  color: slategray;
  font-size: 1.2rem;
  font-weight: 800;
  text-decoration-color: red;
}
.footer .portfolioLink:hover .rightArrow {
  color: red;
}

.playerInfoItemFontDisplay {
  color: transparent;
}

.u-margin-large-div-bottom {
  margin-bottom: 2.55rem;
}

.u-margin-medium-div-bottom {
  margin-bottom: 1rem;
}

.u-margin-small-div-bottom {
  margin-bottom: 0.5rem;
}

.btn {
  margin: 1rem;
}
.btn__loadGame, .btn__startGame, .btn__newGame, .btn__exit {
  background-color: rgba(255, 255, 255, 0.692);
  padding: 0.5rem 1rem;
  border: 2px solid #232323;
  box-shadow: 1px 1px 4px black;
  transition: all 0.2s;
}
.btn__exit {
  padding: 0.15rem 0.5rem;
  margin: 0.5rem 0rem 0.75rem;
}
.btn__loadGame:hover, .btn__startGame:hover, .btn__newGame:hover, .btn__exit:hover {
  background-color: rgba(255, 255, 255, 0.185);
  box-shadow: 2px 2px 5px black;
  transform: scale(1.05);
}
.btn__loadGame:active, .btn__startGame:active, .btn__newGame:active, .btn__exit:hover {
  background-color: rgba(255, 255, 255, 0.281);
  box-shadow: 1px 1px 0px black;
  transform: scale(1);
}
.btn__display {
  display: none;
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  flex: 0 0 4.5rem;
  min-height: 55px;
  margin: 1rem;
  position: relative;
}
@media (max-width: 37.5em) {
  .card {
    flex: 0 0 10vw;
    min-height: 12vw;
  }
}
.card__side {
  border-radius: 0.5rem;
  box-shadow: 2px 2px 15px #232323;
  width: 100%;
  min-height: 55px;
  transition: all 0.8s;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 37.5em) {
  .card__side {
    min-height: 12vw;
  }
}
.card__side--front {
  background-color: #232323;
}
.card__side--back {
  background-color: white;
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotateY(180deg);
}

.rotateCard180 {
  transform: rotateY(180deg);
}

.rotateCard0 {
  transform: rotateY(0);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  padding: 2.5rem 10rem;
  margin: 0 auto;
}

.card-container-twenty {
  max-width: 350px;
  padding: 2.5rem 0rem;
  margin: 0 auto;
}
@media (max-width: 56.25em) {
  .card-container-twenty {
    max-width: 250px;
  }
}
@media (max-width: 37.5em) {
  .card-container-twenty {
    max-width: 90vw;
  }
}

.card-container-forty {
  max-width: 700px;
  padding: 2.5rem 0rem;
  margin: 0 auto;
  padding: 2.5rem 0rem;
  margin: 0 auto;
}
@media (max-width: 75em) {
  .card-container-forty {
    max-width: 600px;
  }
}
@media (max-width: 56.25em) {
  .card-container-forty {
    max-width: 500px;
  }
}
@media (max-width: 37.5em) {
  .card-container-forty {
    max-width: 80vw;
  }
}

.card-container-sixty {
  max-width: 1000px;
  padding: 2.5rem 0rem;
  margin: 0 auto;
}
@media (max-width: 75em) {
  .card-container-sixty {
    max-width: 750px;
  }
}
@media (max-width: 56.25em) {
  .card-container-sixty {
    max-width: 500px;
  }
}
@media (max-width: 37.5em) {
  .card-container-sixty {
    max-width: 80vw;
  }
}

.display-none {
  display: none;
}

.footer {
  background-color: #232323;
  min-height: 10vh;
}
@media (max-width: 37.5em) {
  .footer {
    min-height: 4vh;
  }
}
.footer__paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4vh;
}
.footer__paragraph--introSpan {
  display: inline-block;
}
.footer__paragraph--linkSpan {
  text-align: center;
  display: inline-block;
  width: 15rem;
}
.footer__paragraph--linkSpan .portfolioLink {
  padding: 0.5rem;
  margin: 1rem;
  transition: font-size 0.2s;
}

.header {
  text-align: center;
  background-color: #232323;
  padding: 1.5rem 1.5rem 0rem;
}
.header .gameInfo {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 37.5em) {
  .header .gameInfo {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
.header .gameInfo__gamePannel {
  min-width: 40%;
  position: relative;
}
@media (max-width: 56.25em) {
  .header .gameInfo__gamePannel {
    min-width: 50%;
  }
}
@media (max-width: 37.5em) {
  .header .gameInfo__gamePannel {
    min-width: 95%;
    min-height: 12rem;
  }
}
.header .gameInfo__playerInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #a3ffe0;
  box-shadow: 2px 2px 15px black;
  width: 100%;
  min-height: 13vh;
  padding: 1rem 3rem;
  margin: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.2s;
}
@media (max-width: 37.5em) {
  .header .gameInfo__playerInfo {
    width: 95%;
    min-height: 6vh;
  }
}
.header .gameInfo__playerInfo--divs {
  margin: 0 1rem;
}
.header .gameInfo__playerInfo--infoItem {
  margin: 0.05rem 0.5rem;
}
.header .gameInfo__gameSettings {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #a3ffe0;
  box-shadow: 2px 2px 15px black;
  width: 100%;
  min-height: 13vh;
  padding: 1rem 3rem;
  margin: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  transition: all 0.2s;
}
@media (max-width: 37.5em) {
  .header .gameInfo__gameSettings {
    width: 95%;
    min-height: 6vh;
  }
}
.header .gameInfo__gameSettings--nameInput {
  background-color: transparent;
  border: 2px solid #232323;
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
}
.header .gameInfo__gameSettings--nameInput:focus {
  background-color: rgba(209, 209, 209, 0.719);
}
.header .gameInfo__gameSettings .gameDifficultyCheckboxes {
  display: flex;
}
.header .gameInfo__gameSettings .gameDifficultyCheckboxes .checkboxDiv {
  margin-left: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .gameInfo__gameSettings .gameDifficultyCheckboxes .checkboxDiv .gameSettingsLabel {
  margin-left: 1.1rem;
}
.header .gameInfo__gameSettings .gameDifficultyCheckboxes input[type=radio]:after {
  width: 18px;
  height: 18px;
  border-radius: 18px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid #232323;
}
.header .gameInfo__gameSettings .gameDifficultyCheckboxes input[type=radio]:checked:after {
  width: 18px;
  height: 18px;
  border-radius: 18px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #232323;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid #232323;
}
.header .gameInfo__requireName {
  background-color: #a3ffe0;
  border: 2px solid #232323;
  width: 20rem;
  position: absolute;
  top: 2rem;
  left: 2.5rem;
  z-index: 99;
}

/*# sourceMappingURL=style.css.map */
