.footer {
	background-color: rgb(35, 35, 35);

	min-height: 10vh;

	&__paragraph {
		display: flex;
		justify-content: center;
		align-items: center;

		min-height: 5rem;

		&--introSpan {
			display: inline-block;
		}

		&--linkSpan {
			text-align: center;
			display: inline-block;
			width: 15rem;

			.portfolioLink {
				padding: .5rem;
				margin: 1rem;
				transition: font-size .2s;
			}
		}
	}
}
