.header {
	text-align: center;
	background-color: rgb(35, 35, 35);
	padding: 1.5rem;

	.gameInfo {
		display: flex;
		justify-content: space-evenly;

		&__playerInfo,
		&__gameSettings {
			display: flex;
			flex-direction: row;
			align-items: center;

			border-radius: .5rem;
			background-color: rgb(163, 255, 224);
			// background-color: whitesmoke;
			box-shadow: 2px 2px 15px rgb(0, 0, 0);

			padding: 1rem 3rem;
			margin: 1rem;

			&--divs {
				margin: 0 1rem;
			}

			&--infoItem {
				margin: .05rem .5rem;
			}

			&--checkboxItem {
				display: inline-block;
				margin: .75rem;
			}
		}
	}
}
