.header {
	text-align: center;
	background-color: rgb(35, 35, 35);
	padding: 2.5rem;

	.gameInfo {
		display: flex;
		justify-content: space-evenly;

		&__playerInfo,
		&__gameSettings,
		&__gameWinners {
			display: flex;
			flex-direction: column;
			align-items: center;

			border-radius: .5rem;
			background-color: rgb(163, 255, 224);
			// background-color: whitesmoke;
			box-shadow: 2px 2px 15px rgb(0, 0, 0);

			padding: 2rem;
			margin: 2rem;

			&--infoItem {
				margin: .5rem;
			}

			&--checkboxItem {
				display: inline-block;
				margin: .75rem;
			}

			&--winnerItem {
				margin: .5rem;
			}
		}

		// &__gameSettings {
		// 	flex-direction: row;
		// }
	}
}
