.card {
	perspective: 150rem;
	-moz-perspective: 150rem;

	flex: 0 0 20rem;

	&__side {
		background-color: rgb(35, 35, 35);
		border-radius: .5rem;
		box-shadow: 2px 2px 15px rgb(35, 35, 35);
		min-height: 200px;
		margin: 3rem;
		transition: all .8s;
	}
}

.rotateCard {
	transform: rotateY(180deg);
}
