body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	/* font-size: 16px; */
	line-height: 1.7;
	color: rgb(180, 180, 180);
}

.heading-primary {
	&--main {
		font-size: 2.5rem;
		text-transform: uppercase;
	}

	&--sub {
		font-size: 1.25rem;
		text-transform: lowercase;
	}
}

.heading-secondary {
	&--white {
	}
}
.heading-tertiary {
}
.paragraph {
}

.gameInfo {
	color: slategray;

	&__playerInfo {
		font-size: 1.2rem;

		&--infoItem {
			// color: transparent;
			font-size: 1.3rem;
			font-family: cursive;
			font-weight: 900;
			letter-spacing: 2px;
		}
	}

	&__gameSettings {
		&--infoItem {
			font-size: 1.2rem;
		}
		.gameSettingsLabel {
			font-size: 1.2rem;
		}
	}

	&__requireName {
		font-size: 1rem;
	}
}

.footer {
	color: slategray;
	font-size: 1.1rem;

	.portfolioLink {
		color: slategray;
		font-size: 1.15rem;
		font-weight: 600;
		text-decoration-thickness: 1px;
		text-underline-offset: 2px;
		text-decoration-color: slategray;
	}

	.portfolioLink:hover {
		color: slategray;
		font-size: 1.2rem;
		font-weight: 800;
		text-decoration-color: red;

		.rightArrow {
			color: red;
		}
	}
}

.playerInfoItemFontDisplay {
	color: transparent;
}
